<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fruitables - Vegetable Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <style>
        /* Thiết kế cho navbar */
        .navbar {
            background-color: #fff; /* Màu nền */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng shadow */
        }

        .navbar-brand {
            font-size: 2rem; /* Kích thước font */
            color: #007bff; /* Màu chữ */
            font-weight: bold; /* Độ đậm của font */
        }

        .nav-link {
            font-size: 1.2rem; /* Kích thước font */
            color: #333; /* Màu chữ */
            margin-right: 20px; /* Khoảng cách với navbar brand */
        }

            .nav-link:hover {
                color: #007bff; /* Màu chữ khi hover */
            }

        .navbar-toggler {
            border: none; /* Không có viền */
            background-color: transparent; /* Màu nền */
        }

            .navbar-toggler:focus {
                outline: none; /* Không có đường viền khi focus */
            }

            /* Hiệu ứng icon navbar-toggler */
            .navbar-toggler .fa-bars {
                font-size: 1.5rem; /* Kích thước font */
                color: #007bff; /* Màu icon */
            }

        /* Hiệu ứng navbar-collapse */
        .navbar-collapse {
            background-color: #fff; /* Màu nền */
        }

        /* Thiết kế cho icon search và shopping bag */
        .btn-search,
        .fa-shopping-bag,
        .fa-user {
            font-size: 1.5rem; /* Kích thước font */
            color: #333; /* Màu icon */
        }

            .btn-search:hover,
            .fa-shopping-bag:hover,
            .fa-user:hover {
                color: #007bff; /* Màu icon khi hover */
            }
    </style>
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="https://maps.app.goo.gl/gpWzKQfEmk6tesTg8" class="text-white">VQ4P+249, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh</a></small>
                    <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">prolakhoasd@gmail.com</a></small>
                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1 class="text-primary display-6">FRESHFOOD</h1></a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="shop">Cửa Hàng</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hethongsieuthi">Hệ Thống</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="contact">Liên Hệ</a>
                    </div>
                <!--    <div class="d-flex m-3 me-0">
                        <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                        <a href="#" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                            <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                        </a>
                        <a href="#" class="my-auto">
                            <i class="fas fa-user fa-2x"></i>
                        </a>
                    </div> -->
                </div>
            </nav>
        </div>
    </div>
  

    <!-- Navbar End -->
    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->
    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Hệ thống cửa hàng</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active text-white">Hệ thống cửa hàng </li>
        </ol>
    </div>
    <!-- Single Page Header End -->
    <!-- Contact Start -->
    <div class="group-title">
        <div class="title-wrapper">
            <h1>Đôi lời từ cửa hàng gửi đến cho các bạn</h1>
        </div>
        <div class="description-wrapper">
            <p>Thật tiện lợi và dễ dàng với những món ăn đầy đủ dinh dưỡng, tiết kiệm thời gian chế biến.</p>
            <p>Sẽ giúp bạn có nhiều thời gian dành cho gia đình và những người thân yêu.</p>
            <p>Hãy đến những cửa hàng gần bạn để trực tiếp lựa chọn những sản phẩm .</p>
        </div>
    </div>


<div data-rsssl=1 class="page-template page-template-page-templates page-template-template-landing-page page-template-page-templatestemplate-landing-page-php page page-id-231 wp-custom-logo theme-custom_theme woocommerce-no-js page-he-thong-cua-hang" data-template="base.twig"

    <div class="stores-filter-items">
        <i class="fas fa-store"></i>  <h2 class="store-heading">MỘT VÀI CHI NHÁNH CỦA CHÚNG TÔI</h2>
    </div>
                        </div>
                    

			
                            <div class="stores-result">

                                <div class="store-item ca_mau tran_van_thoi song_doc orgranicfood" data-lat="21.6074228" data-lnt="105.8395769" data-thewaynumber="2587760">
                                    <i class="fas fa-map-marker-alt store-icon"></i>
                                    <div class="store-content">
                                        <div class="store-title">Thị trấn Sông Đốc,Huyện Trần Văn Thời, Cà Mau</div>
                                        <div class="store-info">
                                        <div class="store-view-map"><a class="fancybox-viewmap" href="https://maps.app.goo.gl/sNqEi9d7G6qZvKST8">view map</a></div>
                                            <div id="gmap-for-store-567" class="google-build-map" style="width: 80%; height: 650px; display: none;">
                                                <div class="marker" data-lat="21.6074228" data-lng="105.8395769">
                                            <div class="address">Thị trấn Sông Đốc,Huyện Trần Văn Thời, Cà Mau</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
               
                                    <div class="store-map-hidden" style="display: none !important;">
                                        <input type="hidden" name="store-item-lat" value="21.6074228">
                                        <input type="hidden" name="store-item-lng" value="105.8395769">
                                    </div>
                                </div>

                                <div class="store-item kon_tum dak_ha thi_tran_dak_ha aeon" data-lat="20.9905268" data-lnt="105.7517211" data-thewaynumber="2587760">
                                    <i class="fas fa-map-marker-alt store-icon"></i>
                                    <div class="store-content">
                                <div class="store-title">Thị Trấn Đăk Hà Huyện Đăk Hà Tỉnh Kon Tum</div>
                                        <div class="store-info">
                                    <div class="store-view-map"><a class="fancybox-viewmap" href="https://maps.app.goo.gl/KZY221T9TsSat9c49">view map</a></div>
                                            <div id="gmap-for-store-566" class="google-build-map" style="width: 80%; height: 650px; display: none;">
                                                <div class="marker" data-lat="20.9905268" data-lng="105.7517211">
                                            <div class="address">Thị Trấn Đăk Hà Huyện Đăk Hà Tỉnh Kon Tum</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
      
                                    <div class="store-map-hidden" style="display: none !important;">
                                        <input type="hidden" name="store-item-lat" value="20.9905268">
                                        <input type="hidden" name="store-item-lng" value="105.7517211">
                                    </div>
                                </div>

                                <div class="store-item hai_duong tu_ky cau_xe_pho thuc_pham_hai_duong" data-lat="21.0188306" data-lnt="105.8337581" data-thewaynumber="2587760">
                                    <i class="fas fa-map-marker-alt store-icon"></i>
                                    <div class="store-content">
                                <div class="store-title">Cầu xe phố , tứ kỳ , hải dương</div>
                                        <div class="store-info">
                                    <div class="store-view-map"><a class="fancybox-viewmap" href="https://maps.app.goo.gl/ymKXptCranP2jdjp6">view map</a></div>
                                            <div id="gmap-for-store-565" class="google-build-map" style="width: 80%; height: 650px; display: none;">
                                                <div class="marker" data-lat="21.0188306" data-lng="105.8337581">
                                            <div class="address">Cầu xe phố , tứ kỳ , hải dương</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                   
                                    <div class="store-map-hidden" style="display: none !important;">
                                        <input type="hidden" name="store-item-lat" value="21.0188306">
                                        <input type="hidden" name="store-item-lng" value="105.8337581">
                                    </div>
                                </div>

                                <div class="store-item binh_thuan song_phan ham_tan big_c" data-lat="20.8456501" data-lnt="106.7079988" data-thewaynumber="2587760">
                                    <i class="fas fa-map-marker-alt store-icon"></i>
                                    <div class="store-content">
                                <div class="store-title">Hàm Tân,Sông Phan , Bình Thuận</div>
                                        <div class="store-info">
                                    <div class="store-view-map"><a class="fancybox-viewmap" href="https://maps.app.goo.gl/MoZTW2Vk3tnFZvEw6">view map</a></div>
                                            <div id="gmap-for-store-564" class="google-build-map" style="width: 80%; height: 650px; display: none;">
                                                <div class="marker" data-lat="20.8456501" data-lng="106.7079988">
                                            <div class="address">Hàm Tân,Sông Phan ,Bình Thuận</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                           
                                    <div class="store-map-hidden" style="display: none !important;">
                                        <input type="hidden" name="store-item-lat" value="20.8456501">
                                        <input type="hidden" name="store-item-lng" value="106.7079988">
                                    </div>
                                </div>
                            </div>
                        

                        <div class="stores-hidden" style="display: none !important;">
                            <input type="hidden" name="current-lat" value="">
                            <input type="hidden" name="current-lng" value="">
                        </div>
                    </div>

                </div>
            </div>
        </div>

                    <div class="col-lg-5">
                        <div class="d-flex p-4 rounded mb-4 bg-white">
                            <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                            <div>
                                <h4>Địa chỉ</h4>
                                <p class="mb-2">
                                    Đại Học Hutech Khu E
                                    VQ4P+249, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh, Việt Nam
                                </p>
                            </div>
                        </div>
                        <div class="d-flex p-4 rounded mb-4 bg-white">
                            <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                            <div>
                                <h4>
                                    Gửi thư cho chúng tôi
                                </h4>
                                <p class="mb-2">prolakhoasd@gmail.com</p>
                            </div>
                        </div>
                        <div class="d-flex p-4 rounded bg-white">
                            <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                            <div>
                                <h4>Điện thoai</h4>
                                <p class="mb-2">(+84) 838407070</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h1 class="text-primary mb-0">FreshFood</h1></a>

                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mx-auto">
                            <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="email" id="inputEmail" placeholder="Your Email">
                            <button type="button" onclick="redirectToRegister()" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="d-flex justify-content-end pt-3">
                            <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://twitter.com/hutechvietnam"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.facebook.com/hutechuniversity"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="https://www.instagram.com/hutechuniversity/"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="https://vn.linkedin.com/in/%C4%91%E1%BA%A1i-h%E1%BB%8Dc-hutech-a68b92267"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Why People Like us!</h4>
                        <p class="mb-4">
                            typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.
                        </p>
                        <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Shop Info</h4>
                        <a class="btn-link" href="">About Us</a>
                        <a class="btn-link" href="">Contact Us</a>
                        <a class="btn-link" href="">Privacy Policy</a>
                        <a class="btn-link" href="">Terms & Condition</a>
                        <a class="btn-link" href="">Return Policy</a>
                        <a class="btn-link" href="">FAQs & Help</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Account</h4>
                        <a class="btn-link" href="">My Account</a>
                        <a class="btn-link" href="">Shop details</a>
                        <a class="btn-link" href="">Shopping Cart</a>
                        <a class="btn-link" href="">Wishlist</a>
                        <a class="btn-link" href="">Order History</a>
                        <a class="btn-link" href="">International Orders</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Contact</h4>
                        <p>
                            Địa chỉ:Đại Học Hutech Khu E
                            VQ4P+249, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh, Việt Nam
                        </p>
                        <p>Email: prolakhoasd@gmail.com</p>
                        <p>Phone: +84 838 40 7070</p>
                        <p>Payment Accepted</p>
                        <img src="img/payment.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Your Site Name</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 my-auto text-center text-md-end text-white">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    
    <!-- Template Javascript -->
    <script src="js/main.js"></script>

</div>
</body>
</html>